<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/casion_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".views.mapview.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".views.history.HistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.Casion" />
        <activity
            android:name=".views.form.diabetes.DiabetesResultActivity"
            android:exported="false"
            android:theme="@style/Theme.Casion" />
        <activity
            android:name=".views.form.jantung.JantungActivity"
            android:exported="false"
            android:theme="@style/Theme.Casion" />
        <activity
            android:name=".views.form.diabetes.DiabetesActivity"
            android:exported="false"
            android:theme="@style/Theme.Casion" />
        <activity
            android:name=".views.signin.SignInActivity"
            android:exported="false"
            android:theme="@style/Theme.Casion" />
        <activity
            android:name=".views.signup.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.Casion" />
        <activity
            android:name=".views.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Casion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>